.swiper {
    padding: 20px 0;
}

.swiper-slide {
    height: auto;
}

.swiper-button-next,
.swiper-button-prev {
    color: var(--accent);
}

.swiper-pagination-bullet {
    background-color: var(--accent);
}

.swiper-scrollbar {
    background-color: var(--black-border);
}

.swiper-scrollbar-drag {
    background-color: var(--accent);
}

@media (max-width: 768px) {
    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }
}

.projects {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
} 